.Post{
    -webkit-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
    border-radius: 20px;
    background-color: white;
    color: black;
    
}
p{
    color: black;
    padding: 0px;
    text-align: left;
}
.containerPost{
    padding: 20px;
}

.userPost{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.userInfoPost{
    display: flex;
    gap: 20px;
}

.userInfoPost img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.detailsPost{
    display: flex;
    flex-direction: column;

}

.namePost{
    font-weight: 500;
}

.datePost{
    font-size: 12px;
}   

.contentPost{
    margin: 20px 0px;
}

.contentPost img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    margin-top: 20px;
}

.infoPost{
    display: flex;
    align-items: center;
    gap: 20px;
}

.itemPost{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 14px;
}